.serviceCtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #030303;
  overflow-x: hidden;
  padding-top: 0rem;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .serviceCtn {
    padding-top: 0rem;
  }
}
