@import '../variables/variables.scss';

.footer-ctn {
    color: #f6f6f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background: rgba(255, 255, 255, 0.1);
    // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.24);
    // backdrop-filter: blur( 18px );
    // -webkit-backdrop-filter: blur( 18px );
    // border: 1px solid rgba( 255, 255, 255, 0.1 );

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(230, 229, 229, 0.116);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.726);
    width: 100%;
}

.footer-top-ctn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.footer-top-item {
    min-width: 10%;
    display: flex;
    flex-direction: column;
    margin: 0 4rem;
}

.footer-top-item a {
    text-decoration: none;
    color: $primaryText;
    font-weight: 400 !important;
    margin: 0.2rem 0;
}

.footer-bottom-ctn {
    width: 100%;
    background-color: #f5aa1e49;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.4rem;
}

.subfooter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1920px;
}

.footer-social-medias {
    display: flex;
    align-items: center;
    margin: 0 8rem;
}

.footer-social-medias h3 {
    margin: 0 0.4rem;
    padding: 0.2rem 0.3rem;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.377);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .footer-top-item {
        width: 30%;
        margin: 0 0.5rem 0 0;
    }

    .footer-social-medias {
        margin: 0.5rem 4rem;
    }

    .subfooter {
        flex-direction: column;
    }
}