.duckWeedSm {
    top:0;
    left:0 ;
    width: 50px;
    height: 50px;
    object-fit: contain;    
    position: absolute;
    animation: moveAndSpin 500s linear infinite;
    z-index: 1;
  }
  
  .weed1 {
    top: 40vh;
    left: 20vw;
  }
  
  .weed2 {
    top: 90vh;
    right: 20vw;
  }
  
  .weed3 {
    top: 10vh;
    left: 30vw;
  }
  
  @keyframes moveAndSpin {
    0% {
        transform: translateX(0) translateY(0) rotate(0deg);
    }
    25% {
        transform: translateX(80vw) translateY(80vh) rotate(180deg);
    }
    50% {
        transform: translateX(20vw) translateY(20vh) rotate(180deg);
    }
    75% {
        transform: translateX(60vw) translateY(60vh) rotate(270deg);
    }
    100% {
        transform: translateX(0) translateY(0) rotate(360deg);
    }
  }
  
  .duckWeedMd {
    position: absolute;
    object-fit: contain;   
    width: 100px;
    height: 100px; 
    animation: moveNoSpin 400s linear infinite;
    z-index: 1;
  }
  .weedmd1 {
    top: -10vh;
    left: 1vw;
  }
  
  .weedmd2 {
    top: 30vh;
    right: 60vw;
  }
  
  @keyframes moveNoSpin {
    0% {
        transform: translateX(10vw) translateY(55vh);
    }
    25% {
        transform: translateX(80vw) translateY(80vh);
    }
    50% {
        transform: translateX(20vw) translateY(20vh);
    }
    75% {
        transform: translateX(60vw) translateY(60vh);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
  }