:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  max-width: 2560px;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background-color: #000000e0;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(43, 46, 46);
  border-radius: 10vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f5abf5;
}

.jquery-ripples {
  position: unset !important;
}